.body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

.visual {
  aspect-ratio: 16/9;
  background: wheat;
  margin: 0.5rem 0;
}

.card {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: lightpink;
  padding: 1rem;
}

.h1 {
  font-size: 1.5rem;
}